<h1 class="text-center">
    🌟 Little Miss Jasmine: A Seasonal Marvel! 🌟
</h1>
<section>
    <div class="tiers">
        <div class="joy">
            <img src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/785d1f474cf079a1338e4c0d94f0b9b946b0e25d/docs/assets/img/blossom.svg" height="50" alt="">
        </div>
        <p class="poppins joy-p">
            Get ready to be enchanted by the delightful Little Miss Jasmine, the 6-year-old dynamo who embraces all four
            seasons with pure joy and excitement! ❄️🌷☀️🍂 No matter the weather outside, Jasmine's creativity knows no
            bounds, and she'll always conjure up something fun to do!
        </p>
    </div>
    <div class="tiers">
        <div class="energy">
            <img src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/785d1f474cf079a1338e4c0d94f0b9b946b0e25d/docs/assets/img/energy.svg" height="50" alt="">
        </div>
        <p class="poppins energy-p">
            In winter, she's the snowflake princess, crafting snowmen and making snow angels with glee. When spring
            blossoms, Jasmine is a garden fairy, exploring the beauty of nature in full bloom. As summer heats up, she
            transforms into a sunshine sprite, spreading warmth and laughter wherever she goes. Come fall, Jasmine turns
            into a leaf-chasing adventurer, reveling in the colors of autumn.
        </p>

    </div>
    <div class="tiers">
        <div class="spirited">
            <img src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/785d1f474cf079a1338e4c0d94f0b9b946b0e25d/docs/assets/img/warm-hearted.svg" height="50" alt="">
        </div>
        <p class="poppins spirited-p">
            Jasmine's boundless energy and imaginative spirit make every season a magical experience. Join us in celebrating
            this Little Miss Philippines New York contestant, whose love for all seasons reflects the diverse beauty of our
            world. 🌈✨ Let's cheer for Little Miss Jasmine, the girl who turns every weather forecast into a forecast of
            fun! 🎉👑 #SeasonalJoy #LittleMissNY #JasmineAdventures
        </p>
    </div>
</section>
<app-about-section1></app-about-section1>
<app-home-section1></app-home-section1>