section{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    justify-items: center;
}

img{
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}