<section>
    <div class="left-side">
        <img class="left-img" src="../../../../assets/img/Paw-print-swirl.svg" width="100%"  alt="">
        <!-- <h1 class="arizonia co-fw-400 co-pink-color name">Jasmine</h1> -->
        <div class="co-blue-color">
            <div class="title rouge-script">
                Introducing
                <br>
                Little Miss Jasmine for Little Miss Philippines New York!
            </div>
            <br>
            <div class="divider"></div>
            <div class="message">
                Meet the radiant Jasmine, a delightful 6-year-old beauty pageant contestant who embodies the essence of
                charm and innocence! 🌸 With a heart full of warmth, Jasmine has won the hearts of many friends with her
                friendly nature and kindness that shines brighter than the New York skyline.
            </div>
        </div>
    </div>
    <div class="img-container">
        <img src="../../../../assets/img/Jasmine/Warm Shadows-354.jpg" width="100%" alt="">
    </div>
</section>