<section>
    <div class="left-side">
        <img class="left-img" src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/785d1f474cf079a1338e4c0d94f0b9b946b0e25d/docs/assets/img/Paw-print-swirl.svg" width="100%"  alt="">
        <!-- <h1 class="arizonia co-fw-400 co-pink-color name">Jasmine</h1> -->
        <div class="co-blue-color">
            <div class="title rouge-script">
                Introducing
                <br>
                Little Miss Jasmine
                <br>
                for Continental Little Miss Philippines New York!
            </div>
            <br>
            <div class="divider"></div>
            <div class="message">
                Meet the radiant Jasmine, a delightful 6-year-old beauty pageant contestant who embodies the essence of
                charm and innocence! 🌸 With a heart full of warmth, Jasmine has won the hearts of many friends with her
                friendly nature and kindness that shines brighter than the New York skyline.
            </div>
        </div>
    </div>
    <div class="img-container">
        <img src="https://github.com/jgcreativedesign/continental-miss-philippines-new-york/blob/main/docs/assets/img/Jasmine/Warm%20Shadows-350.jpg?raw=true" width="100%" alt="">
    </div>
</section>