<main>
    <div class="facebook">
        <!-- Facebook post embed here! -->
        <!-- <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmariez.agustin%2Fposts%2Fpfbid05ieFiZXRM3guNZGxwUPFJsY7gaVau1Cj3dq7F3fXNdMLgHN8AbRX34LDrYt3nGEgl&show_text=true&width=500"
            width="500" height="819" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
    </div>
    <app-home-section1></app-home-section1>
    <app-home-section2></app-home-section2>
    <app-home-section3></app-home-section3>
</main>