<section>
    <div class="left-side">
        <!-- <h1 class="arizonia co-fw-400 co-pink-color name">Jasmine</h1> -->
        <div class="co-blue-color">
            <div class="title arizonia">
                More about Jasmine
            </div>
            <br>
            <div class="divider"></div>
            <div class="message">
                Jasmine's playground is not just limited to slides and swings; it's a stage where she dances through
                life with boundless joy and laughter. Her love for the outdoors is as vast as Central Park, making her a
                true nature enthusiast.
            </div>
        </div>
        <img class="left-img" src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/785d1f474cf079a1338e4c0d94f0b9b946b0e25d/docs/assets/img/heart-paw-03.svg" width="100%" height="100%" alt="">
    </div>
    <div class="img-container">
        <img src="https://github.com/jgcreativedesign/continental-miss-philippines-new-york/blob/main/docs/assets/img/Jasmine/Warm%20Shadows-353.jpg?raw=true" width="100%" height="100%" alt="">
    </div>
</section>