<section>
    <div class="left-side">
        <img class="left-img" src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/785d1f474cf079a1338e4c0d94f0b9b946b0e25d/docs/assets/img/Circles.svg" width="100%" height="100%" alt="">
        <h1 class="arizonia co-fw-400 co-pink-color name">Jasmine</h1>
        <div class="divider">
        </div>
        <hr>
        <div class="bonheur-royale title co-blue-color">
            <div>
                Continental Little Miss Philippines
            </div>
            <div>
                New York
            </div>
        </div>
    </div>
    <div class="img-container">
        <img src="https://github.com/jgcreativedesign/continental-miss-philippines-new-york/blob/main/docs/assets/img/Jasmine/Warm%20Shadows-348.jpg?raw=true" width="100%" height="100%" alt="">
    </div>
</section>
