@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bonheur+Royale&family=Meow+Script&family=Monsieur+La+Doulaise&family=Mr+Bedfort&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&family=Rouge+Script&display=swap');

.arizonia {
    font-family: 'Arizonia', cursive;
}

.bonheur-royale {
    font-family: 'Bonheur Royale', cursive;
}

.meow-script {
    font-family: 'Meow Script', cursive;
}

.monsieur-la-doulaise {
    font-family: 'Monsieur La Doulaise', cursive;
}

.mr-bedfort {
    font-family: 'Mr Bedfort', cursive;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.rouge-script {
    font-family: 'Rouge Script', cursive;
}


/* Font weight */

.co-fw-100 {
    font-weight: 100;
}

.co-fw-200 {
    font-weight: 200;
}

.co-fw-300 {
    font-weight: 300;
}

.co-fw-400 {
    font-weight: 400;
}

.co-fw-500 {
    font-weight: 500;
}

.co-fw-600 {
    font-weight: 600;
}

.co-fw-700 {
    font-weight: 700;
}

.co-fw-800 {
    font-weight: 800;
}