<section>
    <p class="mr-bedfort co-fw-400">
        What sets Jasmine apart is not just her adorable smile but also her unwavering obedience to her parents. She's a
        little star who knows the importance of family values, making her an inspiration for kids and parents alike.

        Support Little Miss Jasmine as she graces the stage at Little Miss Philippines New York, where her genuine
        spirit and radiant personality are sure to captivate hearts. Join us in cheering for this little gem who
        embodies the true spirit of beauty inside and out! 💖👑 #LittleMissNY #JasmineSparkles #FutureQueen
    </p>
    <img class="jasmine" src="https://github.com/jgcreativedesign/continental-miss-philippines-new-york/blob/main/docs/assets/img/Jasmine/IMGM5494.jpg?raw=true" width="100%" alt="">
    <img class="heart animate__heartBeat animate__infinite animate__animated" src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/399a6512bd6be61fbf0e3ff92bb75ef4174919e8/docs/assets/img/heart-paw_01.svg" width="100px" height="100px" alt="">
    <img class="rainbow animate__bounceInUp animate__animated" src="https://raw.githubusercontent.com/jgcreativedesign/continental-miss-philippines-new-york/399a6512bd6be61fbf0e3ff92bb75ef4174919e8/docs/assets/img/rainbow-swirl.svg" width="200px" height="200px" alt="">
</section>